<h1>My Favourite Seinfeld Episodes</h1>
<nav>
  <a routerLink="/episodes">Episodes</a>
  <a routerLink="/episodes/add">Add a new episode</a>
  <a routerLink="/episodes/pie-chart">View Pie Chart</a>
</nav>

<h2>Add a new episode</h2>
<div class="d-flex justify-content-center">
  <div class="input-box">
    <div class="form-group row">
      <label for="episode-title">Title</label>
      <div>
        <input type="text" id="episode-title" [(ngModel)]="newEpisodeTitle" class="form-control" placeholder="Title">
      </div>
    </div>

    <div class="form-group row">
      <label for="episode-season">Season</label>
      <div>
        <input type="number" id="episode-season" [(ngModel)]="newEpisodeSeason" class="form-control" placeholder="Season">
      </div>
    </div>

    <div class="form-group row">
      <label for="episode-ep">Episode</label>
      <div>
        <input type="number" id="episode-ep" [(ngModel)]="newEpisodeEp" class="form-control" placeholder="Episode">
      </div>
    </div>

    <div class="form-group row">
      <label for="episode-rating">Rating</label>
      <div>
        <input type="number" id="episode-rating" [(ngModel)]="newEpisodeRating" class="form-control" placeholder="Rating">
      </div>
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-light" (click)="onAdd()">Add</button>
      <button type="button" class="btn btn-light" (click)="goBack()">Go back</button>
    </div>
  </div>
</div>
