/* Error Toast Styles */
.toast-error {
    background-color: #f44336;
    color: #fff;
    max-width: 345px;
    /* Set maximum width for error toast */
    position: fixed;
    top: 20px;
    /* Adjust top spacing as needed */
    right: 20px;
    /* Adjust right spacing as needed */
    transform: translateX(100%);
    /* Move toast off the screen initially */
    transition: transform 0.3s ease-in-out;
    /* Smooth transition for appearing/disappearing */
}

/* Info Toast Styles */
.toast-info {
    background-color: #fff;
    color: #333;
    max-width: 345px;
    /* Set maximum width for info toast */
    position: fixed;
    top: 20px;
    /* Adjust top spacing as needed */
    right: 20px;
    /* Adjust right spacing as needed */
    transform: translateX(100%);
    /* Move toast off the screen initially */
    transition: transform 0.3s ease-in-out;
    /* Smooth transition for appearing/disappearing */
}

.toast-success {
    background-color: #4caf50;
    color: #fff;
    max-width: 345px;
}